.App{
  top: 0;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);;
  font-family: 'Josefin Sans', sans-serif;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 51%;
  border: none;
  border-radius: 5px;
  padding: 15px 15px;
}

.search-button{
  background: lightcoral;
  border: none;
  border-radius: 5px;
  padding: 15px 27px;
  color: white;
}

.recipes{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.title {
  margin: 20px 20px 20px 20px;
  margin-top: 0;
  text-align: center;
  
}